<!-- templates/myapp/about.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Me</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-5">
        <h2 class="text-center">About Me</h2>
        <p class="text-center">Hey, I am Karen Sofía Mur, and I live in Bogotá Colombia</p>
        <p>I am economist but I also like read fantasy and adventure books</p>
        <p>Contact me on my social media as Karen Sofia Mur</p>
        <a href="{% url 'myapp:index' %}" class="btn btn-primary">Back to home</a>
    </div>
</body>
</html>

